
#project-section-div {
    background-color: $color-light;
}

#project-section {
    margin: 0rem 8rem;
    padding: 1rem 0rem;
    text-align: justify;
    
    h2 {
        padding: 2rem 4rem;
        color: $color2;
    }
}

#group-section {
    margin: 1rem 8rem;
    h2 {
        padding: 2rem 4rem;
        color: $color-dark;
    }
}

.card-member {
    width: 30vw;
    min-width: 200px;
    min-height: 30vh;
    padding: 0.5rem;
    background-color: $color-light;
    border-color: $color-dark;

    h4 {
        color: $color-blue;
    }
}

