
#docs-intro-div {
    min-height: 100vh;
    margin: 1rem 8rem;
    text-align: justify;
    h2 {
        font-size: 3rem;
        padding: 2rem 4rem;
        color: $color2;
    }
    h3 {
        font-size: 1.5rem;
        padding: 2rem 4rem;
        color: $color-blue;
    }
}

