$color1: #2E3E4F;
$color2: #7C8A8A;
$color3: #EEF0F0;
$color-green: #2AB999;
$color-blue: #3D97D3;
$color-orange: #F39C1E;
$color-red: #E84C3B;
$color-light: #EEF0F0;
$color-dark: #7C8A8A;

a {
    text-decoration: None;
}