
/* ------------------------------INTRO - SECTION------------------------------- */
#intro-section {
    min-height: 90vh;
    margin: auto;
    @include flex(center, center, column);
    flex-wrap: wrap;
    text-align: center;
    background: url('../static/images/Intro_Section.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        font-size: 4rem;
        padding: 2rem 4rem;
        color: $color-light;
    }
    h2 {
        font-size: 3rem;
        padding: 2rem 4rem;
        color: $color-light;
    }
    h3 {
        font-size: 1.5rem;
        padding: 1rem 4rem;
        color: $color-light;
    }
    a {
        font-size: 1.5rem;
        padding: 0rem 2rem;
        color: $color3;
    }

}

/* ------------------------------DESCRIPTION - SECTION------------------------------- */
#description-section {
    min-height: 100vh;
    margin: 1rem 8rem;
    text-align: justify;
    h2 {
        padding: 2rem 4rem;
        color: $color2;
    }
}

.description-buttons {
    padding: 2rem;
    @include flex(space-evenly, center, row);
    flex-wrap: wrap;
    .button {
        padding: 0.5rem 2rem;
        margin: 0.1rem;
        min-width: 250px;
    }

}

/* ------------------------------PRODUCT - SECTION------------------------------- */
#product-section {
    
    background: $color-dark;
}

#product-section-body {
    margin: 0rem 8rem;
    text-align: justify;
    color: $color-light;
    h2 {
        padding: 2rem 4rem;
    }
    .card-body {
        color: white;
    }
}
.product-card {
    min-width: 200px;
    background: $color-dark;
    border-color: $color-dark;
}
.card-img-container {
    justify-content: center;
    align-items: center;
}
.card-img {
    width: 45%;
}


/* ------------------------------FOOTER - SECTION------------------------------- */
#institution-section {
    background: $color1;
}

#institution-section-body {
    margin: 0rem 8rem;
    text-align: justify;
    color: $color-light;
    h2 {
        padding: 2rem 4rem;
    }
}

#logo-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include flex(space-between, center, row);
    flex-wrap: wrap;
}

#logo-col {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-img {
    margin: 0.5rem 0.5rem;
    height: 18vh;
    min-height: 5rem;
}


/* ------------------------------SECTION------------------------------- */

#home-carousel {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#toasts {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.simple-card {
    padding: 1rem;
    margin: 1rem;
}