/* Options style */
#options-col-div {
    margin: 1rem;
}

.data-button {
    width: 100%;
}

#map-min-input,
#map-max-input {
    width: 100%;
}


/* Map style */
#map-data-col {
    min-width: 500px;
    min-height: 80vh;
}
#map-data-tabs {
    width: 100%;
}

#main-map {
    height: 75vh;
    min-height: 400px;
}

#timeseries-div {
    margin: 1rem;
}