
@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "globals";
@import "home";
@import "map";
@import "docs";
@import "about";


@media screen and (max-width: 800px){
    #intro-section {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.2rem;
        }
        a {
            font-size: 1.1rem;
        }
    }

    #description-section {
        margin: 0rem 2rem;
    }

    #product-section-body {
        margin: 0rem 2rem;
    }
    
    #institution-section-body {
        margin: 0rem 2rem;
    }

    #options-col {
        width: 100vw;
    }

    #docs-intro-div {
        margin: 0rem 2rem;
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.2rem;
        }
    }

    #map-data-col {
        width: 100vw;
        min-height: 100vh;
        min-width: 100vw;
    }

    #main-map {
        height: 90vh;
    }

    .card-member {
       width: 40vw;
       min-width: auto;
    }

    #project-section {
        margin: 0rem 2rem;
    }

    #group-section {
        margin: 0rem 2rem;
    }
}


@media screen and (max-width: 610px){
    #intro-section {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1.0rem;
        }
        a {
            font-size: 0.8rem;
        }
    }

    #description-section {
        margin: 0.5rem 0.5rem;
        h2 {
            padding: 2rem 1rem;
        }
    }

    #description-buttons {
        padding: 0.5rem;
        @include flex(center, center, column);
        .button {
            width: 60vw;
            margin: 1rem 0rem;
            padding: 0.5rem 0.5rem;
        }
    
    }
    
    #product-section-body {
        margin: 0rem 0.5rem;
        h2 {
            padding: 2rem 1rem;
        }
    }

    #institution-section-body {
        margin: 0rem 0.5rem;
        h2 {
            padding: 2rem 1rem;
        }
    }

    #docs-intro-div {
        margin: 0.5rem 0.5rem;
        h2 {
            font-size: 1.5rem;
            padding: 2rem 1rem;
        }
        h3 {
            font-size: 1.0rem;
            padding: 2rem 1rem;
        }
    }
    
    #options-col {
        width: 100vw;
    }
    #map-data-col {
        width: 100vw;
        min-height: 100vh;
        min-width: 100vw;
    }
    #main-map {
        height: 90vh;
    }

    .card-member {
        width: 90vw;
        min-width: auto;
     }

     #project-section {
        margin: 0.5rem 0.5rem;
        h2 {
            padding: 2rem 1rem;
        }
    }

    #group-section {
        margin: 0.5rem 0.5rem;
    }
}