a {
  -webkit-text-decoration: None;
          text-decoration: None;
}

/* ------------------------------INTRO - SECTION------------------------------- */
#intro-section {
  min-height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background: url("../static/images/Intro_Section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#intro-section h1 {
  font-size: 4rem;
  padding: 2rem 4rem;
  color: #EEF0F0;
}
#intro-section h2 {
  font-size: 3rem;
  padding: 2rem 4rem;
  color: #EEF0F0;
}
#intro-section h3 {
  font-size: 1.5rem;
  padding: 1rem 4rem;
  color: #EEF0F0;
}
#intro-section a {
  font-size: 1.5rem;
  padding: 0rem 2rem;
  color: #EEF0F0;
}

/* ------------------------------DESCRIPTION - SECTION------------------------------- */
#description-section {
  min-height: 100vh;
  margin: 1rem 8rem;
  text-align: justify;
}
#description-section h2 {
  padding: 2rem 4rem;
  color: #7C8A8A;
}

.description-buttons {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.description-buttons .button {
  padding: 0.5rem 2rem;
  margin: 0.1rem;
  min-width: 250px;
}

/* ------------------------------PRODUCT - SECTION------------------------------- */
#product-section {
  background: #7C8A8A;
}

#product-section-body {
  margin: 0rem 8rem;
  text-align: justify;
  color: #EEF0F0;
}
#product-section-body h2 {
  padding: 2rem 4rem;
}
#product-section-body .card-body {
  color: white;
}

.product-card {
  min-width: 200px;
  background: #7C8A8A;
  border-color: #7C8A8A;
}

.card-img-container {
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 45%;
}

/* ------------------------------FOOTER - SECTION------------------------------- */
#institution-section {
  background: #2E3E4F;
}

#institution-section-body {
  margin: 0rem 8rem;
  text-align: justify;
  color: #EEF0F0;
}
#institution-section-body h2 {
  padding: 2rem 4rem;
}

#logo-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#logo-col {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-img {
  margin: 0.5rem 0.5rem;
  height: 18vh;
  min-height: 5rem;
}

/* ------------------------------SECTION------------------------------- */
#home-carousel {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#toasts {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.simple-card {
  padding: 1rem;
  margin: 1rem;
}

/* Options style */
#options-col-div {
  margin: 1rem;
}

.data-button {
  width: 100%;
}

#map-min-input,
#map-max-input {
  width: 100%;
}

/* Map style */
#map-data-col {
  min-width: 500px;
  min-height: 80vh;
}

#map-data-tabs {
  width: 100%;
}

#main-map {
  height: 75vh;
  min-height: 400px;
}

#timeseries-div {
  margin: 1rem;
}

#docs-intro-div {
  min-height: 100vh;
  margin: 1rem 8rem;
  text-align: justify;
}
#docs-intro-div h2 {
  font-size: 3rem;
  padding: 2rem 4rem;
  color: #7C8A8A;
}
#docs-intro-div h3 {
  font-size: 1.5rem;
  padding: 2rem 4rem;
  color: #3D97D3;
}

#project-section-div {
  background-color: #EEF0F0;
}

#project-section {
  margin: 0rem 8rem;
  padding: 1rem 0rem;
  text-align: justify;
}
#project-section h2 {
  padding: 2rem 4rem;
  color: #7C8A8A;
}

#group-section {
  margin: 1rem 8rem;
}
#group-section h2 {
  padding: 2rem 4rem;
  color: #7C8A8A;
}

.card-member {
  width: 30vw;
  min-width: 200px;
  min-height: 30vh;
  padding: 0.5rem;
  background-color: #EEF0F0;
  border-color: #7C8A8A;
}
.card-member h4 {
  color: #3D97D3;
}

@media screen and (max-width: 800px) {
  #intro-section h1 {
    font-size: 3rem;
  }
  #intro-section h2 {
    font-size: 2rem;
  }
  #intro-section h3 {
    font-size: 1.2rem;
  }
  #intro-section a {
    font-size: 1.1rem;
  }
  #description-section {
    margin: 0rem 2rem;
  }
  #product-section-body {
    margin: 0rem 2rem;
  }
  #institution-section-body {
    margin: 0rem 2rem;
  }
  #options-col {
    width: 100vw;
  }
  #docs-intro-div {
    margin: 0rem 2rem;
  }
  #docs-intro-div h2 {
    font-size: 2rem;
  }
  #docs-intro-div h3 {
    font-size: 1.2rem;
  }
  #map-data-col {
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
  }
  #main-map {
    height: 90vh;
  }
  .card-member {
    width: 40vw;
    min-width: auto;
  }
  #project-section {
    margin: 0rem 2rem;
  }
  #group-section {
    margin: 0rem 2rem;
  }
}
@media screen and (max-width: 610px) {
  #intro-section h1 {
    font-size: 2.5rem;
  }
  #intro-section h2 {
    font-size: 1.5rem;
  }
  #intro-section h3 {
    font-size: 1rem;
  }
  #intro-section a {
    font-size: 0.8rem;
  }
  #description-section {
    margin: 0.5rem 0.5rem;
  }
  #description-section h2 {
    padding: 2rem 1rem;
  }
  #description-buttons {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #description-buttons .button {
    width: 60vw;
    margin: 1rem 0rem;
    padding: 0.5rem 0.5rem;
  }
  #product-section-body {
    margin: 0rem 0.5rem;
  }
  #product-section-body h2 {
    padding: 2rem 1rem;
  }
  #institution-section-body {
    margin: 0rem 0.5rem;
  }
  #institution-section-body h2 {
    padding: 2rem 1rem;
  }
  #docs-intro-div {
    margin: 0.5rem 0.5rem;
  }
  #docs-intro-div h2 {
    font-size: 1.5rem;
    padding: 2rem 1rem;
  }
  #docs-intro-div h3 {
    font-size: 1rem;
    padding: 2rem 1rem;
  }
  #options-col {
    width: 100vw;
  }
  #map-data-col {
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
  }
  #main-map {
    height: 90vh;
  }
  .card-member {
    width: 90vw;
    min-width: auto;
  }
  #project-section {
    margin: 0.5rem 0.5rem;
  }
  #project-section h2 {
    padding: 2rem 1rem;
  }
  #group-section {
    margin: 0.5rem 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */